body{
    margin: 0;
    background-color: darkseagreen;
    height: 100vh;
}
#content{
    margin: 0;
    height: 95vh;
    display: flex;
    flex-direction: column;

    align-items: center;
}
#bottom-side{
    height: 100%;
    width: 100%;
    display: flex;
}
#left-panel{
    height: 100%;
    width: 25%;
    background-color: rgb(135, 211, 191);
}
#todos{
    padding-top: 3%;
    width: 75%;
    height: 95%;
}
#project-add{
    width: 75%;
    min-height: 7%;
    align-items: center;
    display: flex;
    justify-content: center;
    border: none;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgb(0, 60, 0);
    font-size: 1.2rem;
    color: rgb(32, 60, 43);
    font-weight: bold;
}
#project-add:not(:hover){
    width: 75%;
    height: 7%;
    align-items: center;
    display: flex;
    justify-content: center;
    border: none;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgb(0, 60, 0);
    font-size: 1.2rem;
    color: rgb(32, 60, 43);
    font-weight: bold;
}
#project-add:hover{
    background-color: rgb(189, 230, 184);
    transform: scale(0.98);

}
#project-add:focus{
    background-color: rgb(158, 231, 155);

}
footer{
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(140, 234, 179);
    font-size: 1.2rem;
}
#project-delete{
    width: 10%;
    align-items:center;
    display: flex;
    justify-content:center;
}